<div class="row">
  <div class="col-md-6">
       <img class="machu_pichu" src="./../assets/machu_pichu.webp"
       [style.width.px]='imgWidth'
      [style.height.px]='imgHeight'
      [title]='machu_pichu'>
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Thailand</h5>
        <p class="card-text">Thailand is known as the “land of smiles” and it lives up to the hype. Travel south to the Andaman Sea and experience a day in the nomadic life of a Moken villager, a name that means “diving into the sOr simply relax with a famous Thai massage after a full day of biking and temple hopping. With Thailand you can have it all.</p>
        <a href="/features" class="btn btn-primary">Go</a>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <img class="mysore" src="./../assets/mysore_palace.jpeg"
     [style.width.px]='imgWidth'
      [style.height.px]='imgHeight'
      [title]='mysore'>
    <div class="card">
      <div class="card-body"> 
        <h5 class="card-title">Mysore</h5>
        <p class="card-text">An incredibly breathtaking example of Indo - Saracenic style of architecture, the Mysore Palace is a magnificent edifice located in Mysore in the state of Karnataka. Also known as the Amba Vilas Palace, it is the former palace of the royal family of Mysore and is still their official residence. </p>
        <a href="/features" class="btn btn-primary">Go</a>
      </div>
    </div>
  </div>
</div>
<div class="jumbotron">
  <h1 class="display-4"> “ Be fearless in the pursuit of what sets your soul on fire.”</h1>

  <hr class="my-4">
  
  <a class="btn btn-primary btn-lg" href="/contact" role="button">Contact</a>
</div>
 <!--<footer class="travel_footer bg-info text-light fixed-last">&copy; by WanderLust 2009</footer>-->