<!--The content below is only a placeholder and can be replaced.


<router-outlet></router-outlet>
<travel></travel>
<login></login>-->

<!--The content below is only a placeholder and can be replaced.

<tv></tv>-->

<!--
<h2> welcome to Happy Journey</h2>-->
<h1 style="text-align:center;color:green">WanderLust.com</h1>
<div class="collapse navbar-collapse" id="navbarNavAltMarkup">
  
      <a class="nav-item nav-link active text-white" [routerLink]="['/home']" ><i class="fa fa-search">Home</i><span class="sr-only">(current)</span></a>
      <a class="nav-item nav-link text-light" [routerLink]="['/features']">Features</a>
      <a class="nav-item nav-link text-light text-right" [routerLink]="['/user']"><i class="fa fa-user-o"></i>login</a>
      <a class="nav-item nav-link text-light text-right" [routerLink]="['/contact']">Contact</a>
     <a class="nav-item nav-link text-light text-right" [routerLink]="['/register']">Register</a>
    
  </div>


<nav class="navbar navbar-expand-lg navbar-light bg-info">

 
 <a class="navbar-brand text-white" href="/home">Home</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" 
  aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <a class="navbar-brand text-white" href="/features">Features</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" 
  aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <a class="navbar-brand text-white" href="/user">Login</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" 
  aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <a class="navbar-brand text-white" href="/register">Register</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" 
  aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  
<a class="navbar-brand text-white" href="/contact">ContactUs</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" 
  aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>



<nav class="navbar navbar-light bg-light justify-content-between">
  <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
</nav>

</nav>
  
 <div>
    <router-outlet></router-outlet>
</div>
<footer class="travel_footer bg-info text-light fixed-bottom text-bold">&copy; copyright reserved by WanderLust 2009</footer>
<!--
<img src="./../assets/mountain1.jpg" 
[style.width.px]='1000'
[style.height.px]='imgHeight'
[title]='Maldiv'
>


<div class="row">
  <div class="col-md-6">
       <img class="machu_pichu" src="./../assets/machu_pichu.webp"
       [style.width.px]='imgWidth'
      [style.height.px]='imgHeight'
      [title]='machu_pichu'>
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Thailand</h5>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <img class="mysore" src="./../assets/mysore_palace.jpeg"
     [style.width.px]='imgWidth'
      [style.height.px]='imgHeight'
      [title]='mysore'>
    <div class="card">
      <div class="card-body"> 
        <h5 class="card-title">Special title treatment</h5>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
  </div>
</div>
<div class="jumbotron">
  <h1 class="display-4"> “ Be fearless in the pursuit of what sets your soul on fire.”</h1>
  <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
  <hr class="my-4">
  <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
  <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
</div>
<footer class="travel_footer bg-secondary text-light">&copy; by HappyJourney 2009</footer>
 
 <div class="container">
    <router-outlet></router-outlet>
</div>-->


