<!--<div class="container">
<p>
    11, Motilal Nehru Road, Gottigere
Near Tridhara Sammilani, Bangalore
Office :  +91 33 40069366
Mobile: +91 9433368141
              +91 98300 33327 
Email : wanderlusttourism@gmail.com

wdltour@gmail.com 
info@wanderlustindia.co.in 
Web : www.wanderlustindia.co.in 
</p>
</div>-->
<div class="jumbotron">
  <h1 class="display-4">ContactUs</h1>
  <p class="lead"> 11, Motilal Nehru Road, Gottigere<br>
Near Tridhara Sammilani, Bangalore<br>
Office :  +91 33 40069366<br>
Mobile: +91 9433368141<br>
              +91 98300 33327 <br>
Email : wanderlusttourism@gmail.com<br>

wdltour@gmail.com <br>
info@wanderlustindia.co.in <br>
Web : www.wanderlustindia.co.in <br></p>
  <hr class="my-4">
 
  <a class="btn btn-primary btn-lg" href="/home" role="button">Back to homePage</a>
</div>
<!--<div class="container">
<p>
    11, Motilal Nehru Road, Gottigere<br>
Near Tridhara Sammilani, Bangalore<br>
Office :  +91 33 40069366<br>
Mobile: +91 9433368141<br>
              +91 98300 33327 <br>
Email : wanderlusttourism@gmail.com<br>

wdltour@gmail.com <br>
info@wanderlustindia.co.in <br>
Web : www.wanderlustindia.co.in <br>
</p>
</div>-->
<!--<footer class="travel_footer bg-info text-light fixed-last">&copy; by WanderLust 2009</footer>-->